:root {
  --text-color-secondary: rgb(238, 236, 236);
  --text-color-primary: rgb(255, 220, 168);
  --text-color-hover: gray;
  --text-color-btn: black;

  --btn-bg-primary: rgb(255, 220, 168);
  --btn-padding: 10px 50px;

  --font-size-title: 2.5rem;
  --font-size-secondary: 2rem;
  --fw: 500;
}
.body {
  background-color: #02001b;
}
.menu-item {
  background-image: linear-gradient(
    to right,
    rgb(255, 213, 150),
    rgba(255, 168, 168, 0.897)
  );
  border-radius: 15px;
  box-shadow: 5px 3px 5px rgb(44, 42, 42);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}
.menu-item:hover {
  transition: transform 1s linear;
  transform: rotate(3deg);
}
.menu-item img:hover {
  transition: transform 1s linear;
  transform: scale(0.9);
  cursor: pointer;
}
.btn-primary {
  background-image: linear-gradient(to right top, rgb(255, 213, 150), #ffb9b9);
  padding: var(--btn-padding);
  color: var(--text-color-btn);
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.btn-secondary {
  background-image: linear-gradient(
    to right,
    rgb(255, 213, 150),
    rgba(250, 250, 250, 0.897)
  );
  padding: 10px 20px;
  color: var(--text-color-btn);
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 3px;
  margin: 10px 0;
  border: 1px solid black;
}
.banner {
  background-image: url("../../assets/hotel.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: #02001b93;
  background-blend-mode: darken;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.banner-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  color: rgb(238, 236, 236);
  font-size: 2.5rem;
  text-align: center;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}
.section-title {
  text-align: center;
  font-size: 72px;
  padding: 100px 0;
  color: rgb(255, 220, 168);
  font-family: "Moon Dance", cursive;
}
/* nav styles */
nav {
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
}
.navul {
  color: rgb(255, 220, 168);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.logo {
  font-family: "Moon Dance", cursive;
  font-size: 2.5 rem;
}
.span {
  color: rgb(255, 220, 168);
}

/* discover menu */
.discover-menu {
  background-image: url("../../assets/pexels-amar-preciado-8389884.jpg");
  min-height: 500px;
  background-color: #02001b80;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.line {
  border: 2px solid white;
  height: 200px;
}

@media screen and (max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
  .line {
    transform: transform;
    transform: rotate(360deg);
  }
}
/* lesson info  */
.lesson-info {
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 150),
    rgba(250, 250, 250, 0.897)
  );
}
